<%= "#{@name} scrapped." %>

<nav>
  <a href="/factory">Visit the Factory</a> |
  <a href="/hangar">Visit the Hangar</a> |
  <a href="/workshop">Visit the Workshop</a> |
  <a href="/scrapyard">Return to the Scrapyard</a>
</nav>