<p>To build a new spaceship, just enter the new ship's name below. The ship will start with Level 1 Engines, Lasers, and Shields.</p>
<form action="/factory" method="post">
  <label for="ship_name">Ship Name:</label>
  <input id="ship_name" name="name" type="text"/>
  <br />
  <input type="submit" value="Build Spaceship" />
</form>  