<%= "#{params[:name]} constructed!" %>
<br/>
<nav>
  <a href="/factory">Return to the Factory</a> |
  <a href="/hangar">Visit the Hangar</a> |
  <a href="/workshop">Visit the Workshop</a> |
  <a href="/scrapyard">Visit the Scrapyard</a>
</nav>