<p>This is the scrapyard, where you can salvage one of your ships. Enter the ID number of the ship you would like to scrap below.</p>
<form action="/scrapyard" method="post">
  <label for="id">Ship ID:</label>
  <input id="id" name="id" type="integer"/>
  <input type="submit" value="Scrap Spaceship" />
</form>  