<%= "Updated #{@curr_ship.name}!" %>
<br/>
<nav>
  <a href="/factory">Visit the Factory</a> |
  <a href="/hangar">Visit the Hangar</a> |
  <a href="/workshop">Return to the Workshop</a> |
  <a href="/scrapyard">Visit the Scrapyard</a>
</nav>