<p>Welcome to the Workshop! Here, you can update your ship's name and stats. Be sure to enter your ship's ID number correctly.</p>
<form action="/workshop" method="post">
  <label for="id">Ship ID:</label>
  <input id="id" name="id" type="integer"/>
  <br />
  <label for="ship_name">New Ship Name:</label>
  <input id="name" name="name" type="text"/>
  <br />
  <label for="engines">New Engine Level:</label>
  <input id="engines" name="engines" type="integer"/>
  <br />
  <label for="lasers">New Laser Level:</label>
  <input id="lasers" name="lasers" type="integer"/>
  <br />
  <label for="shields">New Shield Level:</label>
  <input id="shields" name="shields" type="integer"/>
  <br />
  <input type="submit" value="Alter Spaceship" />
</form>  